PUBLIC_SITE_URL=https://dansiegel.net
PUBLIC_SITE_ENV=development
PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key
TURNSTILE_SECRET_KEY=your_turnstile_secret_key
RESEND_API_KEY=re_xxxxxxxxx
CONTACT_FROM_EMAIL=Dan Siegel Blog <website@dansiegel.net>
CONTACT_TO_EMAIL=dsiegel@avantipoint.com
